header{
    width: 100%;
    position: fixed;
    height: 7vh;
    padding: 10px 30px;

    nav{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-items{
            display: flex;
            &-ul{
                display: flex;
                list-style:none;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
                &>li{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .nav-logo{
            flex: 1;
            text-align: center;
        }
        .nav-items-icons{
            display: flex;
            align-items: center;

            svg{
                font-size: 30px;
                margin-left: 20px;
                cursor: pointer;                        
            }

            .nav-cart{
                display: flex;
                align-items: center;
                position: relative;
        
                    &-open{
                        position: absolute;
                        top: 100%;
                        right: 0%;
                        background-color: black;
                        color: #fff;
                        width: 400px;
                        text-align: end;
                        animation: menu 300ms ease-in-out;
                    }
                }
        }

    }
}