*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

.dark-background{
    background-color: rgba(51,41,39,.5)
}


@keyframes menu {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}