.item-detail-container{
    height: 100vh;
    width: 100%;
    padding: 100px 200px;
    display: flex;
    justify-content: space-around;

    .item-detail-image{
        flex: 1;
    }

    .item-detail-info{
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;

        a{
            align-self: center;
            button{
                width: 200px;
                background:none;
                border: 1px solid blue;
                color: blue;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
            }
        }
        
        &>*{
            margin-bottom: 40px;
        }
        h2{
            font-size: 15px;
        }
    }
    .detail-add-cart{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .detail-counter{
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 0px 20px;
        button{
            background: none;
            border: none;
            color: blue;
            font-size: 30px;
            cursor: pointer;
        }
    }
    .detail-button-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        button{
            width: 100%;
            background:none;
            border: 1px solid blue;
            color: blue;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}