.item-detail-container{
    height: 100vh;
    width: 100%;
    padding: 100px 200px;
    display: flex;
    justify-content: space-around;

    .item-detail-image{
        flex: 1;
    }

    .item-detail-info{
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;

        &>.btn{
            border: 1px solid $primary-color;
        }
        a{
            align-self: center;
            button{
                width: 200px;
                background:none;
                border: 1px solid blue;
                color: blue;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 5px;
            }
        }
        
        &>*{
            margin-bottom: 40px;
        }
        h2{
            font-size: 15px;
        }
    }
    .detail-add-cart{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .detail-counter{
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid gray;
        padding: 10px 20px;
        button{
            display: flex;
            align-items: center;
            background: none;
            border: none;
            font-size: 30px;
            cursor: pointer;

            svg{
                font-size: 12px;
                color: $black;
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    .detail-button-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        .btn{
            border: none;
            color: $white;
            background:$primary-color;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }
    }
}