header{
    width: 100%;
    height: 7vh;
    padding: 10px 30px;
    position: fixed;
    background-color: $white;
    z-index: 99;
    box-shadow: 0px -2px 15px -2px rgba(0,0,0,0.53);
    nav{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .nav-items{
            display: flex;
            &-ul{
                display: flex;
                list-style:none;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 1px;
                &>li{
                    position: relative;
                    display: flex;
                    align-items: center;
                    margin-right: 20px;
                    cursor: pointer;

                    a{
                        text-decoration: none;
                        color: $primary-color;
                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    
                }
            }
        }
        .nav-logo{
            flex: 1;
            text-align: center;
        }
        .nav-items-icons{
            display: flex;
            align-items: center;

            svg{
                font-size: 30px;
                margin-left: 20px;
                cursor: pointer;                        
            }

            .nav-cart{
                display: flex;
                align-items: center;
                //position: relative;
                    .nav-container{
                        display: flex;
                        justify-content:flex-end ;
                        position: fixed;
                        left: 0;
                        top: 0;
                        height: 100vh;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.575);
                    }
                    &-open{
                        padding: 15px;
                        width: 500px;
                        height: 100%;
                        background-color: $white;
                        color:$primary-color;
                        text-align: end;
                        animation: menuOpen 700ms ease-in-out;
                        overflow: scroll;
                        .cart-menu-container{
                            display: flex;
                            flex-direction: column;
                            .cart-menu-footer{
                                font-size: 14px;
                                border-bottom:1px solid $soft-gray;
                                padding: 20px 0px;
                                &-total{
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    line-height: 30px;
                                    span{
                                        letter-spacing: 1px;
                                    }
                                }
                                &-buttons{
                                    width: max-content;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-direction: column;
                                    margin: auto;
                                }
                                &-remove{
                                    width: 100%;
                                    margin-top: 20px;
                                    text-align: center;
                                    .btn{
                                        color: $white;
                                        background-color: $primary-color;
                                    }
                                }
                            }
                        }
                        .nav-cart-header{
                            display: flex;
                            &-cartIcon{
                                display: flex;
                                flex: 1;
                                align-items: center;
                                justify-content: center;
                                a{
                                    color: $primary-color;

                                }
                            }
                        }

                        .cart-menu-item-wrapper{
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid $soft-gray;
                            width: 100%;
                        }

                        .cart-menu-item{
                            display: flex;
                            justify-content: center;
                            text-align: start;
                            margin-top: 20px;
                            transition: 300ms ease-in-out;
                            &:hover{
                                opacity: 0.8;
                            }
                            padding: 20px;

                            
                            .cart-menu-info{
                                display: flex;
                                flex-direction: column;
                                
                                .cart-menu-title{
                                    font-size: 15px;
                                    font-weight: bold;
                                    margin: 10px 0px;

                                }
                                .cart-menu-div{
                                    text-transform: capitalize;
                                    font-size: 12px;
                                }
                            }

                        }

                        .empty-card{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-transform: capitalize;
                            & > div{
                                margin-bottom: 20px;
                            }
                            &-header{
                                color: $primary-color;
                                font-weight: bold;
                            }
                            &-links{
                                display: flex;
                                flex-direction: column;

                                .btn{
                                    border: 1px solid $primary-color;
                                    margin-bottom: 20px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
        }

    }
}

@keyframes menuOpen {
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    }
}
